--- 
- name: install wget  packages
  yum: 
   name:
      - wget
   state: present
- name: check Red Hat Service Mesh tempaltes
  stat: path={{playbook_dir}}/roles/istio_deploy/files/service-mesh.yaml
  register: out

- name: download Red Hat Service Mesh tempalte
  command: wget -P {{ playbook_dir }}/roles/istio_deploy/files https://raw.githubusercontent.com/Maistra/istio-operator/maistra-1.1/deploy/examples/maistra_v1_servicemeshcontrolplane_cr_full.yaml
  register: sm_reg
  retries: 1
  delay: 2
- debug: var=sm_reg.stdout_lines
  when: out.stat.islnk is not defined

- name: process Service Mesh template
  template:
    src: service-mesh.yaml.j2
    dest: "/tmp/service-mesh.yaml"

- name: install Red Hat Service Mesh 
  command: oc apply -f /tmp/service-mesh.yaml -n {{ istio_ns }}
  register: oc_res
- debug: var=oc_res.stdout_lines
