---
- name: check bookinfo yaml for deployment
  stat: path={{playbook_dir}}/roles/bookinfo_deploy/files/bookinfo.yaml
  register: out
  
- name: download bookinfo yaml for deployment
  command: wget -P {{ playbook_dir }}/roles/bookinfo_deploy/files https://raw.githubusercontent.com/istio/istio/1.4.0/samples/bookinfo/platform/kube/bookinfo.yaml
  retries: 1
  delay: 2
  when: out.stat.islnk is not defined

- name: create apps project for istio
  command: oc new-project {{ istio_app1 }}
  register: oc_res
  failed_when: oc_res.rc >= 2

- name: create apps for istio
  command: oc apply -f {{ playbook_dir }}/roles/bookinfo_deploy/files/bookinfo.yaml -n {{ istio_app1 }}
  register: apps_res

- name: expose the service for the bookinfo apps 
  command: oc expose service {{ item }} -n {{ istio_app1 }}
  with_items:
    - productpage
  ignore_errors: True
  register: svc_res
- debug: var=svc_res.stdout_lines
