---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: productpage-virtualservice
  namespace: {{ istio_app1 }}
spec:
  hosts:
  - productpage-service.{{ apps_subdomain }}
  gateways:
  - bookinfo-wildcard-gateway.{{ istio_ns }}.svc.cluster.local
  http:
  - match:
    - uri:
        prefix: /productpage
    route:
    - destination:
        port:
          number: 9080
        host: productpage.{{ istio_app1 }}.svc.cluster.local
