---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  labels:
    app: bookinfo
  name: bookinfo-service-gateway
  namespace: {{ istio_ns }}
spec:
  host: bookinfo-service.{{ apps_subdomain }}
  port:
    targetPort: https
  tls:
    termination: passthrough
  to:
    kind: Service
    name: istio-ingressgateway
    weight: 100
  wildcardPolicy: None
